// Colors
$dark-grey-blue : #1A1423;
$violet : #372549;
$alternative-color-pink: #774C60;
$primary-color: #AA4465;
$secondary-color-light: #EACDC2;

// Spacing
$site-max-width: 50rem;
$content-max-width: 35rem;
$standard-space: 1.4rem;

// Font Sizes
$base-font-size: 1.4rem;
$large-font-size: 1.6rem;
$slighty-larger-font-size: 1.9rem;
$very-large-font-size: 3rem;

// Site Container
$site-background-color: lighten($secondary-color-light, 14%);

// Header

$header-background: $primary-color;
$header-color: white;

// Product List
